.navbar {
  background-color: #2673b5;
  border-color: #2673b5;

  .navbar-nav > li > a {
    color: #ffffff;

    &:hover, &:focus {
      background-color: #094980;
      color: #ffffff;
    }
  }

  li.active {
    background-color: #094980;

    & > a {
      color: #ffffff;
    }
  }
}

.navbar-brand {
  padding: 5px 0 0 20px;

  img {
    height: 40px;
  }
}

.dropdown-menu > li > a {
  &:hover, &:focus {
    background-color: #66ccff;
    color: #262626;
    text-decoration: none;
  }
}
